.inline {
    display: inline-block;
}

body {
    background-color: yellowgreen;
}

.section {
    background-color: gray;
}

ul {
    position: relative;
    display: block;
    text-align: center;
    list-style: none;
}

li {
    width: auto;
}