.inline {
    display: inline-block;
}

body {
    background-color: yellowgreen;
    text-align: center;
}

.section {
    background-color: darkgray;
}

.skill-section {
    background-color: gray;
}

ul {
    position: relative;
    display: block;
    list-style: none;
    padding: 0%;
}

li {
    width: auto;
}