body {
    background-color: yellowgreen;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    position: relative;
    display: block;
    list-style: none;
    padding: 0%;
    padding-bottom: .4%;
}

li {
    width: auto;
}

.inline {
    display: inline-block;
}

.rounded-box {
    width: 80%;
    box-sizing: border-box;
    margin: auto;
    border-radius: 8px;
}

.section {
    background-color: darkgray;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.skill-section {
    background-color: gray;
}

.section-header {
    text-decoration: underline;
}

.link-icon {
    height: 100px;
    width: 100px;
}

#banner-message {
    font-size: 48px;
}

#current-tab {
    background-color: rgba(0, 255, 0, 25%);
}

#top-banner {
    background-color: rgba(0, 0, 0, 10%);
}